* {
    background-color: black;
    color: ghostwhite;
    font-family: 'Eagle Lake', cursive;
    font-size: 25px;
    z-index: 1;
}

.header {
    background: black;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    z-index: 3;
}

.start {
    text-align: center;
    margin-bottom: 10px;
}

.left {
    float: left;
    clear: left;
}

.right {
    top: 20px;
    float: left;
    text-align: left;
    left: 10px;
    right: 30px;
}

#pup {
    max-height: 180px;
    z-index: 2;
}

@font-face {
    font-family: 'Blackwood Castle';
    src: url('blackwood_castle.ttf') format('truetype'),
         url('blackwood_castle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gypsy Curse';
    src: url('gypsy_curse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 640px) {

    .header {
        
        font-size: 85px;
        width: 100%;

    }

}

@media screen and (max-width: 370px) {

    * {

        font-size: 20px;

    }
    
    .header {

        font-size: 55px;
        width: 100%;

    }
}